<!-- app/templates/auth/signin.html -->

{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block main %}
    <div>
        <h1>{{ title }}</h1>
        <form method="POST" name="signin" action="">
            <p>{{ form.csrf_token }}</p>
            <p>{{ form.email.label }} <br /> {{ form.email(size=50) }}</p>
            <p>{{ form.password.label }} <br /> {{ form.password(size=50) }}</p>
            <input type="submit" value="Sign In">
        </form>
    </div>
{% endblock %}
