<!-- app/templates/auth/signup.html -->

{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block main %}
    <div>
        <h1>{{ title }}</h1>
        <form method="POST" name="signup" action="">
            <p>{{ form.csrf_token }}</p>
            <p>{{ form.email.label }} <br /> {{ form.email(size=50) }}</p>
            <p>{{ form.name.label }} <br /> {{ form.name(size=50) }}</p>
            <p>{{ form.first_name.label }} <br /> {{ form.first_name(size=50) }}</p>
            <p>{{ form.last_name.label }} <br /> {{ form.last_name(size=50) }}</p>
            <p>{{ form.password.label }} <br /> {{ form.password(size=50) }}</p>
            <p>{{ form.confirm.label }} <br /> {{ form.confirm(size=50) }}</p>
            <input type="submit" value="Sign Up">
        </form>
    </div>
{% endblock %}
