<!-- app/templates/admin/users/assign_user.html -->

{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock %}
{% block main %}
    <div>
        <h1>{{ title }}</h1>
        <form method="POST" name="assign_user" action="">
            <p>{{ form.csrf_token }}</p>
            <p>{{ form.group.label }} <br /> {{ form.group }}</p>
            <p>{{ form.role.label }} <br /> {{ form.role }}</p>
            <input type="submit" value="Assign">
        </form>
    </div>
{% endblock %}
