<!-- app/templates/admin/users/users.html -->

{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock %}
{% block main %}
    <div>
        <h1>{{ title }}</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Group</th>
                    <th>Role</th>
                    <th>Admin</th>
                    <th>Valid</th>
                    <th>Blocked</th>
                    <th>Assign</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.group.name }}</td>
                    <td>{{ user.role.name }}</td>
                    <td>{{ user.is_admin }}</td>
                    <td>{{ user.is_valid }}</td>
                    <td>{{ user.is_blocked }}</td>
                    {% if not user.is_admin %}
                        <td><a href="{{ url_for('admin.assign_user', id=user.id) }}">assign</a></td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                    <td><a href="{{ url_for('admin.edit_user', id=user.id) }}">edit</a></td>
                    {% if not user.is_admin %}
                        <td><a href="{{ url_for('admin.delete_user', id=user.id) }}">delete</a></td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
