<!-- app/templates/admin/tools/add_tool.html -->

{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block main %}
    <div>
        <h1>{{ title }}</h1>
        <form method="POST" name="add_tool" action="">
            <p>{{ form.csrf_token }}</p>
            <p>{{ form.hidden_tag }}</p>
            <p>{{ form.name.label }} {{ form.name(size=20) }}</p>
            <p>{{ form.description.label }} {{ form.description(size=20) }}</p>
            <p>{{ form.target.label }} {{ form.target(size=20) }}</p>
            <input type="submit" value="Add">
        </form>
    </div>
{% endblock %}
