<!-- app/templates/base.html -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }} | {{ __project__ }}</title>
        <meta charset="UTF-8">
        <meta name="author" content="{{ __author__ }}">
        <meta name="copyright" content="{{ __copyright__ }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='css/style.less') }}">
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js"></script>
    </head>
    <body>
        <div>
            <ul>
                {% if current_user.is_authenticated %}
                    {% if current_user.is_admin %}
                        <li><a href="{{ url_for('home.admin_home') }}">Admin</a></li>
                        <li><a href="{{ url_for('admin.list_groups') }}">Groups</a></li>
                        <li><a href="{{ url_for('admin.list_roles') }}">Roles</a></li>
                        <li><a href="{{ url_for('admin.list_users') }}">Users</a></li>
                        <li><a href="{{ url_for('admin.list_tools') }}">Tools</a></li>
                    {% else %}
                        <li><a href="{{ url_for('home.user_home') }}">Home</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('auth.signout') }}">Sign Out</a></li>
                    {% if not current_user.is_admin %}
                        <li><a>Hi, {{ current_user.name }}!</a></li>
                    {% else %}
                        <li><a>Hi, {{ current_user.name }} [admin]</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="{{ url_for('home.welcome_home') }}">Home</a></li>
                    <li><a href="{{ url_for('auth.signup') }}">Sign Up</a></li>
                    <li><a href="{{ url_for('auth.signin') }}">Sign In</a></li>
                {% endif %}
            </ul>
        </div>
        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }} </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            {% block main %}
            {% endblock %}
        </div>
        <footer>
            <div>
                <p>{{ __copyright__ }}</p>
            </div>
        </footer>
    </body>
</html>
