<!-- app/templates/base.html -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }} | Novaskill WebApp</title>
        <meta charset="UTF-8">
        <meta name="author" content="webmaster@local.localdomain">
        <meta name="description" content="description of the website">
        <meta name="copyright" content="copyright from the owner">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div>
            <ul>
                {% if current_user.is_authenticated %}
                    {% if current_user.is_admin %}
                        <li><a href="{{ url_for('home.admin_dashboard') }}">Dashboard</a></li>
                        <li><a href="{{ url_for('admin.list_groups') }}">Groups</a></li>
                        <li><a href="{{ url_for('admin.list_roles') }}">Roles</a></li>
                        <li><a href="{{ url_for('admin.list_users') }}">Users</a></li>
                        <li><a href="{{ url_for('admin.list_tools') }}">Tools</a></li>
                    {% else %}
                        <li><a href="{{ url_for('home.dashboard') }}">Dashboard</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    <li><a>Hi, {{ current_user.name }}!</a></li>
                {% else %}
                    <li><a href="{{ url_for('home.welcome') }}">Home</a></li>
                    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }} </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            {% block main %}
            {% endblock %}
        </div>
        <footer>
            <div>
                <p>copyright 2017</p>
            </div>
        </footer>
    </body>
</html>
