<!-- app/templates/admin/roles/edit_role.html -->

{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block main %}
    <div>
        <h1>{{ title }}</h1>
        <form method="POST" name="edit_role" action="">
            <p>{{ form.csrf_token }}</p>
            <p>{{ form.name.label }} <br /> {{ form.name(size=50) }}</p>
            <p>{{ form.description.label }} <br /> {{ form.description(size=50) }}</p>
            <input type="submit" value="Edit">
        </form>
    </div>
{% endblock %}
